[submodule "wasi-p2"]
	path = submodules/wasi-p2
	url = https://github.com/WebAssembly/WASI.git
	branch = wasi-0.2
[submodule "wasi-main"]
	path = submodules/wasi-main
	url = https://github.com/WebAssembly/WASI.git
	branch = main
