[submodule "wasi-p2"]
	path = submodules/wasi-p2
	url = https://github.com/WebAssembly/WASI.git
	branch = wasi-0.2
[submodule "submodules/wasi-p3"]
	path = submodules/wasi-p3
	url = https://github.com/WebAssembly/WASI.git
